* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #070707;
    text-decoration: none;
    list-style-type: none;
}

header {
    position: sticky;
    bottom: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: lavender;
}


/* About Us*/
h2 {
    font-family: 'Times New Roman';
    position: relative;
    top: 50px;
    left: 30px;
    color: #fff;
    text-align: center;
    font-size: 34px;
    text-transform: uppercase;
    text-decoration: underline pink;
    
    
}
/* Who we are Text */
h1 {
    font-style: italic;
    position: relative;
    top: 1550px;
    left: 100px;
    font-size: 24px;
    font-weight: 0;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 lem blue, 0 0 0.2em blue;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    list-style-type: none;

}

button:hover {
    color: orange;
}

html {
    height: 250%;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #95cb22de, #0033cc, #FF77CC, rgb(255, 122, 89));
    background-repeat: no-repeat;

    
    
}

div {
    color: #1af57d;
    margin: 0;
    position: relative;
    bottom: 90px;
    size: auto;
    left: 20px;
    
    
}
/* Post-It, Inc. */
.bottom {
    position: relative;
    bottom: 500px;
    color: #070707;
}

.Mission {
    color: #fff;
    position: relative;
    bottom: 450px;
    left: 30px;
    font-size: 30px;
    text-align: center;
    text-decoration: underline orange;
    
}

.candice {
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    color: #070707;
    bottom: 1100px;
    left: 800px;
    position: relative;
}

.peter {
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    color: #070707;
    bottom: 900px;
    left: 5px;
    position: relative;
}

.kumari {
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    color: #070707;
    bottom: 900px;
    left: 730px;
    position: relative;
}

.carlos {
    font-size: 18px;
    font-family: 'Times New Roman';
    font-style: italic;
    color: #070707;
    bottom: 1200px;
    left: 50px;
    position: relative;
}
/* Carlos */
.img-face {
    width: 200px;
    position: relative;
    bottom: 320px;
    left: 350px;
    border-radius: 50%;
}
/* Candice */
.img-face1 {
    width: 150px;
    position: relative;
    bottom: 550px;
    left: 800px;
    
}
/* Peter */
.img-face2 {
    width: 200px;
    position: relative;
    bottom: 520px;
    left: 350px;
}

.img-face3 {
    border-radius: 50%;
    width: 200px;
    position: relative;
    bottom: 700px;
    left: 800px;
}

.hero {
    background-image: url("../background-about-us.webp");
    padding-top: 100px;
    padding-bottom: 400px;
    padding-left: 450px;
    position: center
    
}

.whoWeAre {
    font-family:'Times New Roman', Times, serif;
    position: relative;
    text-decoration: underline red;
    top: 1400px;
    

}