* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lavender;
}

li, a, button {
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: #070707;
    text-decoration: none;
    list-style-type: none;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    list-style-type: none;
}

button:hover {
    background-color: #fff;
}

header {
    position: sticky;
    bottom: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: lavender;
}

.contact {
    font-style: bold;
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 150px;
    color: #070707;
}
/* The text between About Us and Contact Support*/
.help {
    position: relative;
    font-size: 20px;
    top: 700px;
    text-align: center;
    color: #070707;
    line-height: 2;
    
}

html {
    height: 250%;
}

body {
    background-color: lavender;

}

.returnTo {
    position: relative;
    color: #070707;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    left: 450px;
    top: 280px;

}
/* Contact Support*/
.top {
    color: #070707;
    position: relative;
    text-decoration: underline orange;
    text-align: center;
    top: 500px;

}

.img-note {
    width: 500px;
    position: relative;
    top: 50px;
    left: 500px;
    transform: translate(0);
    
    
}
