* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header {
    background-color: rgb(218, 218, 11);
    border-style: ridge;
    border-color: gold;
    padding: 25px 20px;
}

header h1 {
    color: #FD841F;
    font-size: 20px;
}

header h2 {
    color: #FD841F;
    font-size: 18px;
    position: relative;
    left: 800px;
}

.container {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-col-2 {
    grid-column: span 2;
}

.container-row-2 {
    grid-row: span 2;
}

.text-wrapper {
    position: relative;
    bottom: 600px;
    left: 25px;
}

.text-wrapper1 {
    position: relative;
    bottom: 680px;
    left: 740px;
}

.text-wrapper2 {
    position: relative;
    bottom: 740px;
    left: 1090px;
}

.text-wrapper3 {
    position: relative;
    bottom: 480px;
    left: 730px;
}

.text-wrapper4 {
    position: relative;
    bottom: 535px;
    left: 1090px;
}

input {
    font-size: 18px;
    width: 20%;
    
}

a {
    text-decoration: none;
}

.bottom {
    position: relative;
    left: 100px;
    bottom: 250px;
    color: #FD841F;
    text-decoration: underline;
}