:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #F99417; 
    --secondary-color: #FD841F;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    
}

ul {
    display: flex;
    justify-content: space-between;
    position: static;
}

a { 
    text-decoration: none;
    color: var(--primary-color);
    justify-content: space-between;
    
  }

header {
    position: sticky;
    bottom: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(218, 218, 11);
    border-style: ridge;
    border-color: gold;
}

.PostIT {
  color: #FD841F;
  font-size: 2rem;
  font-weight: 500;
}

.light-pink {
    position: relative;
    width: 400px;
    left: 200px;
    top: 200px;
}

.light-green {
    position: relative;
    width: 400px;
    left: 800px;
    bottom: 190px;
}

.text-wrapper {
    width: 100%;
    position: relative;
    margin-top: -2%;
}

.text-wrapper h2{
    position: relative;
    left: 270px;
    color: #070707;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.text-tapper {
    width: 100%;
    position: relative;
    margin-top: -29%;   
}

.text-tapper h2 {
    position: relative;
    left: 870px;
    color: #070707;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item {
    margin-left: 25rem;
    justify-content: space-between;
    position: right;
  
  }
  
.nav-link {
    font-weight: var(--bold-font);
    align-items: center;
    font-size: 20px;
    
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 1000px;
    font-size: 20px;
}