:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #F99417; 
    --secondary-color: #FD841F;
}

html {
    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    transition: var(--transition);

}

body {
    font-family: "Poppins", sans-serif;
}

ul li {
    list-style-type: none;

}

a { 
    text-decoration: none;
    color: var(--primary-color);

}

a:hover {
    color: var(--secondary-color);
}
/* logo style */
.post {
    color: #FD841F;
    font-size: 2rem;
    font-weight: 500;

}

.IT {
    color: #FD841F;
    font-size: 2rem;
    font-weight: 500;
}

.pin {
    color: rgb(20, 109, 20);
    size: 150%;
}
/* nav-bar styles */
nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 2px 3px 2p #f1f1f1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    display: flex;
    justify-content: space-between;
    position:static;
    
}
.nav-item {
    margin-left: 2rem;
    justify-content: space-between;
    position: right;

}

.nav-link {
    font-weight: var(--bold-font);
    align-items: center;
}
/* form style */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: solid;
    background: #f1f1f1;
    background-color: #f59623;
    outline-width: none;
}

hr {
    border: 2px solid #f1f1f1;
    margin-bottom: 10px;

}

/* button styles */
button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    position: relative;
}

button:hover{
    opacity: 1;
}

/* more styles for the buttons */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

/* style container  */
.container {
    padding: 70px;
}

/* clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* change button styles */
@media screen and (max-width:300px) {
    .cancelbtn, .signupbtn{
        width: 100%; 
    }
}
